<div class="alert @(IsSuccess != null && IsSuccess.Value ? "alert-success" : "alert-danger")">
    <p style="margin-bottom: 0;">@Message</p>
</div>


@code {
    [Parameter]
    public bool? IsSuccess { get; set; }

    [Parameter]
    public string Message { get; set; } = "Operação bem sucedida";
}
